<div class="registered-download-app-container">

  <div class="item-header">      Seja bem vindo     </div>

  <div class="image-background">      </div>

  <div class="item-description">  Parabéns! Agora você é um Membro +55lab.co    </div>

  <div class="item-subdescription">  Agora você já pode usufruir dos benefícios de ser da nossa Network, entre na rede social e aproveite. </div>

  <div class="download-app-button">  <a target="_blank" href="http://lab262.com"></a> </div>

</div>
